<!DOCTYPE html>
<html lang="en">
    
<head>
      <script src = 'https://code.jquery.com/jquery-3.6.1.js'></script>
      <script src = 'https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.min.js'></script>
      <script type="text/javascript", charset="utf-8"></script>
      <style>
       body {
            width:100%;
            height: 100%;
            }
        #team_1 {
            font-size: 400%;
            position: absolute;
            margin: 58px 0 0 300px;
        }
        #team_2 {
            font-size: 400%;
            position: absolute;
            margin: 58px 0 0 410px;
        }

      </style>
</head>
<body onload="update_values();">
      <output id="team_1_now">?</output>
      <output id="team_2_now">?</output>
      <output id="team_1">?</output>
      <output id="team_2">?</output>
      <img src="/static/images/Frame 1.png" alt="Snow" style="width:100%;">
      

      <script>

        var interval = setInterval(update_values, 1000);

            function update_values() {
                  $.getJSON('/get_team_score',
                  function(data) {
                        $('#team_1').text(data.team_1);
                        // console.log(data);
                  });
                  $.getJSON('/get_team_score',
                  function(data) {
                        $('#team_2').text(data.team_2);
                  });

                  $.getJSON('/get_team_1_now',
                  function(data) {
                        $('#team_1_now').text(data);
                        console.log(data)
                  });

                  $.getJSON('/get_team_2_now',
                  function(data) {
                        $('#team_2_now').text(data);
                  });

            }
    </script>
</body>
</html>