<!DOCTYPE html>
<html lang="en">
<head>
      <script src = 'https://code.jquery.com/jquery-3.6.1.js'></script>
      <script src = 'https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.min.js'></script>
      <script type="text/javascript", charset="utf-8"></script>
      
      
</head>
<!-- <body onload="update_values();"> -->
<body>
      <p>PGM:<div id="vmix">?</div></p>
      <p>PREVIEW:<div id="prewiew">?</div></p>
      
      

      <script>
            // $(document).ready(function() {
            //       $(".vmix").;
            //       console.log($(".vmix"));
            // });

            // var interval = setInterval(update_values, 1000);

            // function update_values() {
                  // $.getJSON('/vmix',
                  // function(data) {
                  //       $('#vmix').text(data.result);
                  //       console.log(data);
                  // });
                  // $.getJSON('/vmix',
                  // function(data) {
                  //       $('#prewiew').text(data.result2);
                  // });
                  // namespace='/test';
            
                  // var sio = io.connect('http://127.0.0.1:5050' + namespace); 
                  // sio.on('vmix_socet', function () {

                  // });
                  // sio.emit('vmix_socet', pgm)
            // };
            // $(document).ready(() => {
            //    namespace='/test';
            
            //    var sio = io.connect('http://127.0.0.1:5050' + namespace);
            //     var pgm = $('#vmix').text();  
            // //    $('#vmix').html(pgm)
            // sio.emit('vmix_socet', pgm)

               

            //    sio.on('vmix_socet', function() {
            //       console.log("asdfa");
            //    })
            //    sio.on('connect', function() {
            //       sio.send(pgm);
            //       console.log(pgm);
            //    })

            //    $('#send').on('click', function() {
            //        var message = $('#vmix').text(); 
            //       // sio.emit('for user', message)
            //       console.log(message)
            //    })

            //    sio.emit(pgm);
            //    console.log(pgm)
            //   namespace = '/flask';
               
            //     $("div.vmix").on('vmix', () => {
            //         sio.emit(pgm);
            //     });
            // });
     </script>
     <script>
      document.getElementById('vmix').innerHTML;
      document.getElementById('prewiew').innerHTML;
     </script>

</body>
</html>

    
