<!DOCTYPE html>
<html lang="en">
    
<head>
      <script src = 'https://code.jquery.com/jquery-3.6.1.js'></script>
      <script src = 'https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.min.js'></script>
      <script type="text/javascript", charset="utf-8"></script>
      <style>
       body {
            width:100%;
            height: 100%;
            }
        #team_1 {
            font-size: 400%;
            position: absolute;
            margin: 58px 0 0 300px;
        }
        #team_2 {
            font-size: 400%;
            position: absolute;
            margin: 58px 0 0 410px;
        }

      </style>
</head>
<body onload="update_values();">
      <output id="team_1_now">?</output>
      <output id="team_2_now">?</output>
      <output id="team_1">?</output>
      <output id="team_2">?</output>
      <img src="/static/images/Frame 1.png" alt="Snow" style="width:100%;">
      

      <script>

        var interval = setInterval(update_values, 1000);

            function update_values() {
                  $.getJSON('/get_team_score',
                  function(data) {
                        $('#team_1').text(data.team_1);
                        // console.log(data);
                  });
                  $.getJSON('/get_team_score',
                  function(data) {
                        $('#team_2').text(data.team_2);
                  });

                  $.getJSON('/get_team_1_now',
                  function(data) {
                        $('#team_1_now').text(data);
                  });

                  $.getJSON('/get_team_2_now',
                  function(data) {
                        $('#team_2_now').text(data);
                  });



                  team_name = $('#select_send_ajax option:selected').text();
                  

                  const data = $('#select_send_ajax').val()

                  console.log(data)
                 
                  
                  // $.ajax({
                  //       type: "GET",
                  //       url: 'http://127.0.0.1:5050/control_score',
                  //       // data:  team_name,
                  //       success: function() {
                  //             console.log('jkl');
                  //       }
                  //       // contentType: "application/json",
                  // });

                  $.ajax({
                        type: 'POST',
                        url: 'http://127.0.0.1:5050/control_score',
                        data: JSON.stringify(team_name),
                        contentType: 'application/json'
                        });
            };
                  
                  // var selectedcolor = $('#jqueryselect 
                  // var myDropdown = document.getElementsByName('select_send_ajax selectpicker');
                  // console.log(myDropdown);

            

                  // $.ajax({
                  // url: 'http://127.0.0.1:5050/',
                  // success: function(data) {
                  //                   data= $(data).find('#team_1_total');
                  //                   // data = $("#content").html(html);
                  //                   console.log(data)
                  //       $('#team_1').html(data);
                        
                  // }
                  // });
            //       $.post( "http://127.0.0.1:5050/", function( data ) {
            //             $( "#team_1" ).html( data );
            //             console.log(data)
            //             });
            // };
            
            
            // $.ajax({
            //       url:"http://127.0.0.1:5050/",
            //       type:"get",
            //       context: $( ".team_1_total" ),
            //       success: function () {
            //             // $('#team_2').text(data.data_ajax);
            //             // $( this ).html( "Всё ок" );
                  
            //       }
            // });
           
            // var myData = localStorage['objectToPass'];
            // localStorage.removeItem( 'objectToPass' ); // Clear the localStorage
            // var firstData = myData;
            // var secondData = myData[1];
            // console.log(firstData);
    </script>
</body>
</html>