<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="C:\Users\vadim\Desktop\vMix\static\css\qwe.css">
    <title>GINJ</title>
</head>
<header class="header">
    <div class="container">
        <div class="menu_container">
            <div class="header_logo">GINJ</div>
            <nav class="header_nav">
                <a class="header_nav_link" href="#">menu_1</a>
                <a class="header_nav_link" href="#">menu_2</a>
                <a class="header_nav_link" href="#">menu_3</a>
                <a class="header_nav_link" href="#">menu_4</a>
                <a class="header_nav_link" href="#">countdown control</a> 
            </nav>
        </div>
    </div>
</header>
<body>
    <div class="main_container">
    </div>
</body>
</html>