<!DOCTYPE html>
<html lang="en">
<head>
      <script src = 'https://code.jquery.com/jquery-3.6.1.js'></script>
      <script src = 'https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.min.js'></script>
      <script type="text/javascript", charset="utf-8"></script>
      
      
</head>
<body>
      <div id="vmix"> {{pgm_vmix}} </div>

      <script>
            $(document).ready(() => {
               namespace = '/test';
               var sio = io.connect('http://127.0.0.1:5050' + namespace);
               var pgm = $('#vmix').text();  

               sio.on('vmix_socet', function() {
                  sio.emit(pgm)
               });
            //    var sio = io.connect('http://127.0.0.1:5050' + namespace); 
            //       sio.on('vmix_socet', function () {

            //       });

            //    sio.emit(pgm);
            //    console.log(pgm)
            //   namespace = '/flask';
               
            //     $("div.vmix").on('vmix', () => {
            //         sio.emit(pgm);
            //     });
            });
     </script>

</body>
</html>
// let url="http://127.0.0.1:5050/"

// async function refresh() {
//     while(true){
//         block_a.innerHTML=await(await fetch(url)).text();
//     }
// }

    
